*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display:flex;
    align-items:center;
    justify-content:center;
}
main{
    width: 60%;
    height: 60vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    border: 1px solid purple;
}
div{
    width: 20vw;
    height: 8vh;
    border: 1px solid blue;
    display: flex;
    align-items: center;
    justify-content:center;
}

@media (max-width: 425px){
    main{
        flex-direction: column-reverse;
        border:none;
    }
    div{
        border:none;
        border-bottom: 3px solid orange;
    }
    div:hover {
        background-color:rgb(250, 229, 229);
    }
}